.body-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(102, 45, 145,0.2), #ffffff);
<<<<<<< HEAD
    height: 100%;
    width: 100%;
    align-items: center;
}
=======
    height: max-content;
    width: 100%;
    align-items: center;
}
.sec-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 1000px;
    gap: 30px;
}
>>>>>>> 57c2e2ea95cd2a50e42023fbbb93d43d8ba89c2a
