.body-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(102, 45, 145,0.2), #ffffff);
    height: 100%;
    width: 100%;
    align-items: center;
}