.tw-body{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    align-items: center;
    height: max-content;
}
.tw-heading{
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    width: 95%;
}
.tw-vr{
    height: 0.5px;
    width: 57%;
    border: 1px solid black;
    background-color: black;
}
.tw-content-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    max-width: 50em;
}
.tw-content{
    width: 45%;
}


@media screen and (max-width: 1040px) {
    .tw-heading>h2{
        font-size: 18px;
    }
    .tw-content-holder{
        gap: 20px;
        justify-content: space-between;
    
    }
    .tw-content{
        width: 13em;
    }
}

@media screen and (max-width: 660px) {
    .tw-heading{
        width: 80%;
        gap: 5px;
    }
    .tw-heading>h2{
        font-size: 18px;
    }
    .tw-vr{
        width: 35%;
    }
    .tw-body{
        width: 100%;
    }
    .tw-content-holder{
        align-items: center;
        justify-content: center;
    }
    .tw-content{
        width: 80%;
    }
}