.tw-body{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
<<<<<<< HEAD
}
.tw-heading{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: bolder;
}
.tw-vr{
    height: 0.5;
    width: 50%;
=======
    align-items: center;
}
.tw-heading{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    width: 95%;
}
.tw-vr{
    height: 0.5px;
    width: 57%;
>>>>>>> 57c2e2ea95cd2a50e42023fbbb93d43d8ba89c2a
    border: 1px solid black;
    background-color: black;
}
.tw-content-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}
.tw-content{
<<<<<<< HEAD
    width: max-content;
=======
    width: 360px;
>>>>>>> 57c2e2ea95cd2a50e42023fbbb93d43d8ba89c2a
}