.ubn-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #e3d3ff;
    border-radius: 20px;
}
.ubn-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}
.ubn-card{
    padding: 10px;
}

@media screen and (max-width: 1040px) {
    .ubn-card{
        padding: 0px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 660px) {
    .ubn-holder{
        width: 90%;
        padding-bottom: 1em;
        align-self: center;
    }
    .ubn-detail{
        gap: 20px;
    }
}