.ubnCard-body{
    display: flex;
    width: 100%;
    align-items: center;
}
.ubnCard-holder{
    display: flex;
    align-items: center;
    width: 100%;
    height: 12em;
}
.ubnCard-holder>img{
    height: 10em;
    border-radius: 10px;
    object-fit: cover;
    width: 50%;
    height: 80%;
}
.ubnCard-detail{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    width: 50%;
    height: 80%;

}
.ubnCard-detail h3{
    font-size: 1em;
    font-weight: 630;
}
.ubnCard-detail>p{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 12px;
    font-weight: lighter;
    overflow: hidden;
    height: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.ubnCard-writer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.ubnCard-writer>img{
    max-width: 100%;
    height: 1em;
}
.ubnCard-writer>p{
    font-size: 0.9em;
}


@media screen and (max-width: 1040px) {
    .ubnCard-holder{
        height: auto;
    }
    .ubnCard-holder>img{
        height: 7em;
        width: 50%;
    }
    .ubnCard-detail h3{
        font-size: 0.5em;
    }
    .ubnCard-detail>p{
        font-size: 0.5em;
        /* overflow: hidden; */
        height: 100%;
    }
    .ubnCard-writer>img{
        height: 0.5em;
    }
    .ubnCard-writer>p{
        font-size: 0.5em;
    }
}

/* @media screen and (max-width: 660px) {
    .ubnCard-holder{
        flex-direction: column;
        border: 1px solid red;
        width: 0%;

    }
    .ubnCard-holder>img{
        height: 7em;
        width: 60%;
    }
} */