.nav-Body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position:relative;
    z-index:40;
}
.nav-left{
    display: flex;
    align-items: center;
    height: max-content;
    align-items: center;
    padding-left: 8em;
}
.nav-left img{
    max-width: 100%;
    height: 7em;
}
.nav-right{
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-weight: bolder;
    align-items: center;
    gap: 10%;
    padding-right: 8em;
}
.nav-option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    gap: 10px;
}
.nav-option img{
    max-width: 100%;
    height: 0.5em;
}
#hamburger{
    display: none;
}
.dropdown{
    position: absolute;
    z-index: 20;
    margin-bottom: -6.1em;
    width: 8em;
}
.dropdown2{
    margin-bottom: -8.5em;
}
.dropdown3{
    margin-bottom: -1em;
}
.mobileNavOptions{
    display: none;
}

 


@media screen and (max-width: 1240px) {
    .nav-Body{
        justify-content:space-around
    }
    .nav-left{
        padding-left:2em
    }
    .nav-right{
        padding-right:2em
    }

}
@media screen and (max-width: 660px) {
    .nav-Body{
        justify-content: space-around;
        flex-direction: column;
    }
    .nav-left{
        padding-left: 0px;
        justify-content: space-around;
        width: 100%;

    }
    .nav-right{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        width: auto;
        height: 25px;
        z-index: 5;
    }
    .mobileNavOptions{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: -120px;
        background: linear-gradient(to bottom, rgb(102, 45, 145,0.2), #ffffff);
        color: black;
        gap: 50px;
        padding: 100px 0px 80px 0px;
        text-align: center;
        z-index: 20;
        width: 100%;
        height: 100vh;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .mobileNavOptions>P{
        padding: 5px;
        width: 70%;
        border-radius: 20px;
        font-weight: 600;
    }
}